<div class="container text-center"
<h1>About Page</h1>
<p>We are Saas. Our company connects fitness professionals with their clients
by using innovative technologies. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos architecto commodi quas a voluptatibus asperiores laboriosam ipsam, eligendi laborum autem labore. Inventore totam, quae possimus aliquam perspiciatis error molestiae.</p>
</div>